@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;600&family=Noto+Sans+Arabic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
  font-family: 'Cairo', sans-serif;
}
